NODE_ENV=development
ILP_ADDRESS=t
CLOUD_NINE_PUBLIC_HOST=
CLOUD_NINE_OPEN_PAYMENTS_URL=
CLOUD_NINE_WALLET_ADDRESS_URL=/.well-known/pay
CLOUD_NINE_AUTH_SERVER_DOMAIN=-free.app
CLOUD_NINE_CONNECTOR_URL=-free.app